@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');


 :root
{
    --ff1: 'Oswald', sans-serif;
    /* --ff2: */
} 

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body
{
    min-height: 100vh;
}

header
{
    background-color: #ff000000;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
}

.sl
{
    width: 100px;
    height: 100px;
    margin-left: 200px;
}

.menuFixo
{
    transition: 0.5s ease;
    background-color: #c40000;
    box-shadow: 3px 3px 3px #0000002f;
}



header > nav
{
    padding-right: 150px;
    user-select: none;
}

nav > ul > li
{
    display: inline-block;
    padding: 20px;
}

nav > ul > li > a
{
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--ff1);
    font-size: 1.3em;
    font-weight: 600;
    color: rgb(255, 255, 255);
    z-index: 999;

}

nav > ul > li > a:hover
{
    color: rgb(255, 217, 0);
    transition: 0.4s ease;
}

section.home
{  
    height: 100vh;
    background-image: url(../Img/rest.png);
    background-size: cover;
    background-position: center bottom;
    position: relative;
}


.home > .decomer
{
    position: absolute;
    left: 10%;
    top: 150px;
    width: 500px;
    z-index: 99;
}

.preco
{
    position: absolute;
    left: 30%;
    top: 390px;
    height: 150px;
    width: 300px;

    background-color: yellow;
    border-radius: 20px;

    z-index: 100;
    opacity: 90%;

    display: flex;
    justify-content: center;
}

.preco h2
{
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
    font-size: 72px;
}

section.quem-somos
{
    padding-top: 80px;
    height: 100vh;

    background-color: rgb(236, 236, 236);
}

section.quem-somos > h1
{
    text-align: center;
    text-transform: uppercase;
    font-family: var(--ff1);
    font-size: 2.4em;


}
 
section.cardapio
{
    padding-top: 80px;
    height: 100vh;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
}


section.cardapio > h1
{
    text-align: center;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-family: var(--ff1);
    font-size: 2.4em;
}


.container-cardapio
{
    width: 900px;
    height: 450px;

    border-radius: 10px;

    background-color: red;
    
    align-self: center;

    display: flex;
    flex-direction: row;
}



.a
{
    height: 100%;
    width: 300px;

    background-color: rgba(218, 6, 6, 0.911);

    border-radius: 10px 0 0 10px;

    display: flex;
    flex-direction: column;
}

.burger
{
    padding-top: 30px;
    width: 220px;
    align-self: center;
}

.ul-cardapio
{
    margin-top: 10px;
    list-style: none;

    font-family: Arial, Helvetica, sans-serif;

    align-self: center;
}

li
{
    color: white;
    font-weight: 600;
}

.b
{
    height: 100%;
    width: 300px;

    background-color: green;
}

.c
{
    height: 100%;
    width: 300px;

    background-color: blue;

    border-radius: 0 10px 10px 0;
}



footer
{
    height: 100vh;
    width: 100%;
    background-color: #252627;
    display: flex;
    flex-direction: column;
}

div.img
{   
    height: 50%;
    width: 100%;
    background-image: url(../Img/rest.png);
    background-position: center top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--ff1);
    font-size: 1.8em;
}

.img > h1
{
    text-align: center;
    text-transform: uppercase;
    color: yellow;
}

.img > a
{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.fa-facebook,
.fa-instagram
{
    color: yellow;
    font-size: 1.3em;
    padding-right: 10px;
}
