@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


 :root
{
    --ff1: 'Oswald', sans-serif;
    --ff2: 'Lobster', cursive;


    --header-height: 60px;
} 

*
{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html, body
{
    min-height: 100vh;
    box-sizing: border-box;
}

header
{
    background-color: #ff000000;
    height: var(--header-height);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 999;
}

.logo-header
{
    width: 70px;
    height: 70px;
}

.menuFixo
{
    /* background-color: #7c0909; */
    background-image: url(../Img/redpaper.png);
    background-size: cover;
    box-shadow: 3px 3px 3px #0000002f;

    transition-duration: 2s;
}
/* 


header > nav
{
    padding-right: 150px;
    user-select: none;
}

nav > ul > li
{
    display: inline-block;
    padding: 20px;
}

nav > ul > li > a
{
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--ff1);
    font-size: 1em;
    font-weight: 600;
    color: rgb(255, 255, 255);
    z-index: 999;

}

nav > ul > li > a:hover
{
    color: rgb(255, 217, 0);
    transition: 0.4s ease;
} */

section.home
{  
    min-height: 100vh;
    background-image: url(../Img/rest.png);
    background-size: cover;
    background-position: center bottom;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-top: var(--header-height);
}

.baccodecomer
{
    position: relative;
    width: 1000px;
    height: 600px;

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border-radius: 20px;

}


.prato-dia
{
    position: absolute;
    left: 290px;

    font-family: var(--ff2);
    font-size: 52px;

    text-transform: capitalize;

    color: white;

    background-color: rgba(252, 0, 0, 0.733);

    padding: 0px 50px 5px 50px;

    border-radius: 0 0 50px 50px;
}






.decomer
{
    position: absolute;

    top: 150px;
    left: 215px;
    width: 550px;
    z-index: 3;

    animation-duration: 1s;
    animation-name: slidein;
}

@keyframes slidein
{
    from
    {
        margin-left: 100%;
    }

    to
    {
        margin-left: 0%;
    }
}




.ingredientes
{
    position: absolute;

    top: 100px;
    left: 230px;
    display: flex;
    flex-direction: column;

    background-color: rgb(202, 0, 0);    

    height: 300px;

    padding: 10px;

    border-radius: 10px;

    animation-duration: 1s;
    animation-name: slidein;
}

@keyframes slidein
{
    from
    {
        margin-left: 100%;
    }

    to
    {
        margin-left: 0%;
    }
}



.ingredientes li{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    
    text-transform: capitalize
}

.preco
{
    position: absolute;

    top: 180px;
    left: 650px;

    background-color: #fbff00;

    width: 180px;
    height: 80px;

    border-radius: 0px 50px 0px 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 4;

    animation-duration: 1s;
    animation-name: slidein;
}

@keyframes slidein
{
    from
    {
        margin-left: 100%;
    }

    to
    {
        margin-left: 0%;
    }
}





.preco span
{
    color: rgb(255, 0, 0);
    font-family: var(--ff1);
    font-size: 40px;

    font-weight: 600;
}




section.quem-somos
{
    padding-top: 80px;
    min-height: 100vh;

    background-color: rgb(236, 236, 236);
}

section.quem-somos > h1
{
    text-align: center;
    text-transform: uppercase;
    font-family: var(--ff1);
    font-size: 2.4em;


}
 
section.cardapio
{
    padding-top: var(--header-height);
    min-height: 100vh;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;

    padding-bottom: var(--header-height);
}


section.cardapio > h1
{
    text-align: center;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-family: var(--ff1);
    font-size: 2.4em;

    margin-bottom: 10px;
}


.container-cardapio
{
    width: 900px;
    height: 600px;

    border-radius: 10px;

    background-color: red;
    
    align-self: center;

    display: flex;
    flex-direction: row;
}


.container-cardapio span
{
    align-self: center;

    margin-top: 10px;

    padding-left: 85px;
    padding-right: 85px;
    padding-top: 1px;
    padding-bottom: 1px;

    background-color: white;

    text-transform: uppercase;

    font-family: var(--ff1);
}

.container-cardapio .logo
{
   width: 150px;
   align-self: center;
}



.a
{
    height: 100%;
    min-width: 300px;

    background-color: #921a1a;
    background-image: url(../Img/redpaper.png);
    border-radius: 10px 0 0 10px;

    display: flex;
    flex-direction: column;
}

.burger
{
    padding-top: 10px;
    height: 180px;
    width: 230px;
    align-self: center;
}

.container-menu
{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding-top: 50px;
    padding-bottom: 30px;

    
}

.container-menu h2
{
    font-family: var(--ff2);
    font-size: 42px;
    text-transform: capitalize;
    letter-spacing: 2px;

    color: yellow;
}

.container-menu p
{
    font-family: var(--ff2);
    font-size: 24px;

    letter-spacing: 1px;
    color: white;

    text-transform: capitalize;
}


.ul-cardapio
{
    margin-top: 5px;
    list-style: none;

    font-family: Arial, Helvetica, sans-serif;

    align-self: center;
}

li
{
    color: white;
    font-weight: 600;
}

.b
{
    height: 100%;
    min-width: 300px;

    background-color: #303128;
    background-image: url(../Img/greypaper.png);
    

    display: flex;
    flex-direction: column;
}

.b 
.alaminuta
{
    width: 120px;
    align-self: center;
}

.c
{
    height: 100%;
    min-width: 300px;

    background-color:#921a1a;
    background-image: url(../Img/redpaper.png);

    border-radius: 0 10px 10px 0;

    display: flex;
    flex-direction: column;
}

.c 
.condimento
{
    width: 250px;
    align-self: center;
    margin-top: 40px;
}

footer
{
    height: 100vh;
    width: 100%;
    background-color: #252627;
    display: flex;
    flex-direction: column;
}

div.img
{   
    height: 50%;
    width: 100%;
    background-image: url(../Img/rest.png);
    background-position: center top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--ff1);
    font-size: 1.8em;
}

.img > h1
{
    text-align: center;
    text-transform: uppercase;
    color: yellow;
}

.img > a
{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.fa-facebook,
.fa-instagram
{
    color: yellow;
    font-size: 1.3em;
    padding-right: 10px;
}

.referencias
{
    display: flex;
    flex-direction: row;

    height: 350px;
}

.contato
{
    height: 200px;
}

.final
{
    height: 50px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.final p
{
    color: white;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}


/* Responsividade */



@media screen and (max-width: 940px)
{
    .container-cardapio
    {
        flex-direction: column;
        height: 1800px;
        width: 450px;
    
    }

    .a
    {
        width: 450px;
        border-radius: 0px !important;
    }

    .b
    {
        width: 450px;
    }

    .c
    {
        width: 450px;
        border-radius: 0px !important;
    }

    .img h1
    {
        font-size: 1.3em;
    }

}

  
  .menuFixo {
    position: fixed;
    top: 0px;
    background-color: var(--3color);
  }
  
  .logo {
    width: 70px;
    height: 60px;
    margin-right: 5rem;
  }
  
  .txlogo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding-right: 0.5rem;
    font-size: 2.5rem;
    color: var(--3color);
  }
  
  .logoFixo {
    font-weight: 600;
    color: #ffffff;
  }
  
  nav ul > li {
    list-style: none;
    display: inline-block;
  }
  
  nav li > a {
    padding: 20px;
    font-family: var(--ff1);
    font-weight: 600;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }


  
  @media screen and (max-width: 1050px) {
    header {
      justify-content: space-around;
      height: var(--header-height);
    }
  
    .titulo-area{
      font-size: 2.5rem;
    }
  
    .logo{
      margin-top: 5px;
      height: 45px;
      width: 50px;
    }
    
    .txlogo{
      margin-left: -2rem;
    }
  
    .fundo-h1{
      font-size: 3.5rem;
      text-align: center;
      width: 100%;
    }
  
    .fundo-p{
      margin-top: -30px;
      font-size: 0.9rem;
      width: 100%;
      text-align: center;
    }
  
    .nav__menu {
            font-size: 1.2rem;
            position: fixed;
            top: var(--header-height);
            right: -100%;
            width: 100%;
            height: 40%;
            background-color: #000000f6;

            display: flex;
            flex-direction: column;
            align-items: center;
          }

    .nav__item{
        margin: 1rem;
    }
  
    .nav__item > a {
      font-size: 1.5rem;
    }
  
    .nav__link {
      position: relative;
      color: #fff;
    }
  
    .nav__link:hover {
      position: relative;
    }
  
    .nav__link:hover {
      position: absolute;
      content: "";
      width: 100%;
      height: 0.18rem;
      left: 0;
      top: 2rem;
      background-color: black;
    }
  
    .nav__toggle {
      margin-right: -2rem; 
      margin-top: 5px;
      color: white;
      font-size: 2rem;
      cursor: pointer;
    }
  
    .burgerFixo{
        color: #ffffff;
    }
  
    .nav__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 0;
    }
  
  
    /*ACTIVE MENU*/
  
    .active::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 0.18rem;
      left: 0;
      top: 2rem;
      background-color: var(--color1);
    }
  
    /*SHOW MENU*/
  
    .show {
      right: 0;
    }
  }
  
  @media screen and (max-width: 1050px) {
  
  
    .nav__item {
      margin-bottom: 0;
  
    }
  
    .nav__toggle {
      display: none;
    }
  
    .nav__link {
      color: var(--color2);
    }
  
    .nav__menu{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

.baccodecomer
{

 width: 850px; 
 height: 600px;

}

.prato-dia
{

    left: 225px;

    font-family: var(--ff2);
    font-size: 52px;
}



.decomer
{

    top: 150px;
    left: 160px;
    width: 550px;
    z-index: 3;
}

.ingredientes
{
    left: 170px;
}

.preco
{
    left: 590px;
}


  
  
  }
  
  
  @media screen and (max-width: 430px){
    header{
      justify-content: space-around;
    }
    
    .txlogo{
      margin-left: -20px;
    }
  
    .nav__toggle {
      margin-right: -1rem;
  }
  }
  
  
  @media screen and (max-width: 390px){
    header{
      justify-content: space-around;
    }

    .logo-header
    {
        margin: 0;
    }
    
    .txlogo{
      margin-left: 5px;
    }
  
    .nav__toggle {
      margin-right: 5px;
  }
  
  }